.bg-grass {
  background-color: #66a945;
}

.bg-fire {
  background-color: #e56c3e;
}

.bg-water {
  background-color: #5185c5;
}

.bg-electric {
  background-color: #f6d851;
}

.bg-psychic {
  background-color: #dd6b7b;
}

.bg-rock {
  background-color: #bfb889;
}

.bg-ground {
  background-color: #9c7743;
}

.bg-ice {
  background-color: #6dc8eb;
}

.bg-fighting {
  background-color: #e09c40;
}

.bg-poison {
  background-color: #735198;
}

.bg-bug {
  background-color: #9fa244;
}

.bg-ghost {
  background-color: #684870;
}

.bg-dragon {
  background-color: #535ca8;
}

.bg-dark {
  background-color: #4c4948;
}

.bg-steel {
  background-color: #69a9c7;
}

.bg-fairy {
  background-color: #dab4d4;
}

.bg-normal {
  background-color: #949495;
}
.bg-flying {
  background-color: #a2c3e7;
}
