*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dynamic-padding: 71px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  height: 100%;
}

body {
  background: url('https://static-assets.bamgrid.com/product/disneyplus/images/background.dc67869b698f6c927aae59c68d9dda46.png');
  background-size: cover;
}
