*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background: url('https://www.slowcali.co.kr/images/mcon1_bg.jpg');
}

.wrap {
  width: 100%;
  height: 100%;
  padding: 3rem;
  overflow-y: auto;
}
.header {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.logo {
  /* font-family: 'Sarina', cursive; */
  width: 300px;
  width: 100%;
  text-align: center;
  color: #fdf6e4;
  font-size: 3rem;
  font-weight: 700;
}
.tab {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  background-color: #fdf6e4;
}

.tab-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #2a29b7;
}
.tab-item {
  padding: 0 1rem;
  /* font-family: 'Sarina', cursive; */
  color: #2a29b7;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}
.tab-content {
  display: none;
  padding: 1rem;
  flex-wrap: wrap;
}
.tab-content.active {
  display: flex;
}
.menu {
  position: relative;
  width: 25%;
  color: #2a29b7;
  text-align: center;
  padding: 1rem;
}
.menu:not(:nth-child(4n)) {
  border-right: 1px dotted #2a29b7;
}
.menu:nth-child(n + 5) {
  border-top: 1px dotted #2a29b7;
}
.menu-img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.menu-img img {
  width: 100%;
}
.menu-name {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.menu-english {
  font-family: 'Noto Serif KR', serif;
  font-style: italic;
  font-size: 14px;
}
.menu-description {
  word-break: keep-all;
  margin-top: 5px;
  font-size: 15px;
}
.menu-mainIngredient {
  font-size: 14px;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
